body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.input-group-text {
	padding: 0;
}

.input-group-text .btn,
.input-group-text .form-control {
	border-radius: 0;
}

.actions .btn {
	margin-right: 10px;
}
